@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('mark_simonson_-_proxima_nova_alt_black-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_rgbold';
    src: url('mark_simonson_-_proxima_nova_alt_bold-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_condensedLt';
    src: url('mark_simonson_-_proxima_nova_alt_condensed_light-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_condensed_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_condensedTh';
    src: url('mark_simonson_-_proxima_nova_alt_condensed_thin-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_condensed_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_excn_rgbold';
    src: url('mark_simonson_-_proxima_nova_alt_extra_condensed_bold-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_extra_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_extra_condLt';
    src: url('mark_simonson_-_proxima_nova_alt_extra_condensed_light-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_extra_condensed_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_altextrabold';
    src: url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('mark_simonson_-_proxima_nova_alt_light-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_rgregular';
    src: url('mark_simonson_-_proxima_nova_alt_regular-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_alt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_blblack';
    src: url('mark_simonson_-_proxima_nova_black-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('mark_simonson_-_proxima_nova_bold-webfont.html') format('woff2'),
         url('mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}